<!DOCTYPE html>

<html>
<head>
    @await Html.PartialAsync("_Headers")
    @await RenderSectionAsync("styles", false)
    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
    <![endif]-->
    <script src="~/js/jquery.js"></script>
</head>
<body>
    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>

    @await Html.PartialAsync("_ScriptsAndETC")

    @await RenderSectionAsync("scripts", false)
</body>
</html>