@if (User.Identity.IsAuthenticated)
{
    <span>Hello, <a asp-action="Index" asp-controller="Profile">@User.Identity.Name</a></span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        @if (User.Identity.Name.Equals("Admin"))
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-default">Admin menu</a>
        }
        <input type="submit" value="Exit" class="btn btn-default" />
    </form>
}
else
{
    <div class="btn-group pull-right">
        <a asp-action="Login" asp-controller="Account" class="btn btn-default">Log In</a>
        <a asp-action="Register" asp-controller="Account" class="btn btn-default">Sign Up</a>
    </div>
}
