@{
    ViewData["Title"] = "Please try again";
}

<h2>Somethink went wrong please try again</h2>
<hr>
<div>
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="ProductList" role="button">Back to list</a>
</div>
