<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_Headers")
    @await RenderSectionAsync("styles", false)
</head><!--/head-->
<body>
    @await Html.PartialAsync("_Header")

    <section>
        <div class="container">
            @RenderBody()
        </div>
    </section>

    @await Html.PartialAsync("_Footer")

    @await Html.PartialAsync("_ScriptsAndETC")

    @await RenderSectionAsync("scripts", false)
</body>
</html>